config screenplus 'main'
	option schema_version '14'
	option enabled '1'
	option language 'zh_cn'
	option brightness '5'
	option idle_timeout '180'
	option always_on '0'
	option swipe_loop '1'
	option page_transition 'slide'
	option auto_carousel '0'
	option carousel_interval '10'
	option password_mode 'tap'
	option rotation '90'

config appearance 'appearance'
	option primary '#ffffff'
	option secondary '#dcecff'
	option accent '#37f59a'
	option background '#030912'
	option border '#3b424a'
	option warning '#ffdc55'
	option error '#ff5c70'
	option standby '#4b9fff'
	option overlay_opacity '35'
	option background_mode 'page'

config page_order 'page_order'

config page 'home'
	option enabled '1'
	list field 'time'
	list field 'date'
	list field 'weekday'

config page 'status'
	option enabled '1'
	list field 'cpu'
	list field 'memory'
	list field 'fan'

config page 'traffic'
	option enabled '1'
	list field 'rates'
	list field 'connections'
	list field 'history'

config page 'network'
	option enabled '1'
	list field 'lan'
	list field 'ethernet'
	list field 'repeater'
	list field 'tethering'
	list field 'cellular'
	list field 'wan_detail'

config page 'wifi'
	option enabled '1'
	list field 'wifi_2g'
	list field 'wifi_5g'

config page 'openclash'
	option enabled '1'
	list field 'rates'
	list field 'connections'
	list field 'totals'
	list field 'resources'
